body {
    background-image: url('https://image.shutterstock.com/image-vector/white-abstract-texture-vector-background-600w-1022671816.jpg');
  }
  h1 {font-family: Verdana;
    font-size: 40 px;
    color: blue;
  }
  p {font-family: cursive;
    font-size: 40 px;
    color: red;
    border: 2x solid powderblue;
    padding: 31px;

  }
  .p {
    font-size: 20px;
    font-family: Georgia;
    font-style: italic;
    color: orchid;
    border: 2x solid powderblue;


     }
